:root {
    --color-primary: #0072BC;
    --color-primary-light: #338EC9;

    --header-height: 56px;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-accent: #717A84;

        --color-background: #FFFFFF;
        --color-foreground: #000000;

        --hover-shade: rgba(0, 0, 0, 0.2);
        --press-shade: rgba(0, 0, 0, 0.25);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: #8E857B;

        --color-background: #2B2B2B;
        --color-foreground: #FFFFFF;

        --hover-shade: rgba(255, 255, 255, 0.2);
        --press-shade: rgba(255, 255, 255, 0.25);
    }
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    background: var(--color-background);
    color: var(--color-foreground);
}

#header {
    width: 100%;
    height: var(--header-height);
    background: var(--color-primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.36);
    display: flex;
    align-items: center;
    padding: 0 12px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#header .title {
    color: white;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
}

#header .ctrl {
    margin-left: auto;
    margin-right: 32px;
}
#header .ctrl .selectable {
    padding: 4px;
    border-radius: 8px;
    margin-left: 2px;
}

#header-spacing {
    height: var(--header-height);
}

#content {
    height: calc(100% - var(--header-height));
    overflow: hidden;
}

#modal {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
}

#modal-wrapper {
    width: 100%;
    height: 75%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: var(--color-background);
    box-shadow: 0 -2px 10px 2px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

#modal-content {
    padding: 16px;
    box-sizing: border-box;
}

input {
    width: 100%;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin-top: 8px;
    box-sizing: border-box;
}

.selectable {
    cursor: pointer;
}
.selectable:hover {
    background: var(--hover-shade);
}
.selectable:active {
    background: var(--press-shade);
}

.groupSuggestion {
    border-radius: 4px;
    padding: 4px;
    border: 1px solid var(--color-foreground);
    margin-bottom: 6px;
}

#schedule {
    width: 100%;
    padding-bottom: 10px;
}

.date-header {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    background: var(--color-primary-light);
}

.schedule-group {
    margin: 16px 8px;
}

.schedule-entry {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
    align-items: start;
}

.lesson-timing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lesson-block {
    width: 36px;
    height: 36px;
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.48);
    font-weight: bolder;
    background: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.lesson-details * {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.lesson-details .material-icons {
    opacity: 0.6;
    margin-right: 2px;
    display: inline-flex;
    vertical-align: top;
    font-size: 16px;
}

.lesson-title {
    font-weight: bold;
}

.lesson-kind {
    font-style: italic;
    opacity: 0.8;
}

.lesson-auditorium {
    margin-top: 2px;
}